:root {
    --columns-row: 2;
}

.container {
    display: grid;
    width: 780px;
    height: 780px;
    max-height: 780px;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.block {
    display: flex;
    background-color: azure;
    justify-content: center;
    align-items: center;
}